$color-navy: #001f3f;
$color-blue: #0074d9;
$color-aqua: #7fdbff;
$color-teal: #39cccc;
$color-olive: #3d9970;
$color-green: #2ecc40;
$color-lime: #01ff70;
$color-yellow: #ffdc00;
$color-orange: #ff851b;
$color-red: #ff4136;
$color-fuchsia: #f012be;
$color-purple: #b10dc9;
$color-maroon: #85144b;
$color-more-white: #fbfbfb;
$color-white: #f3f3f3;
$color-almost-white: #eeeeee;
$color-silver: #dddddd;
$color-gray: #aaaaaa;
$color-black: #111111;

$app-z-index-lower: -10;
$app-z-index-higher: 10;
$app-font-color: #89909e;
$app-font-color-darker: #485c65;
$app-error-color: #ff4e4a;
$app-color-success: #19d7a1;
$app-interaction-box-default-width-in-px: 750px;
$app-interaction-box-default-height-in-px: 562.5px;
$app-interaction-box__text-base-size-in-px: $app-interaction-box-default-width-in-px /
  $app-interaction-box-default-height-in-px;
$app-margin-small: 10px;
$app-margin-medium: 30px;
$app-margin-large: 60px;
