<section appPageTransition class="app-page display-flex-column-centered">
  <app-interaction-box>
    <div class="app-interaction-box__content-container">
      <h1 class="app-interaction-box__title">Pronto, {{personName}}</h1>
      <p class="app-interaction-box__text">
       Aproveite o evento!
      </p>
      <div>
        <app-button (click)="goToWelcome()" class="app-credential-withdrawal_end-btn" btnType="success">
          Encerrar sessão
        </app-button>
        <div class="app-credential-withdrawal_obs">
          <i class="fa fa-clock-o"></i> Esta tela fechará automaticamente em {{counter}} segundos.
        </div>
      </div>
    </div>
  </app-interaction-box>
</section>
